In [3]:
# pip install pymongo

In [9]:
import pandas as pd

In [4]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://datascience:datascience@cluster0.4vt0cq9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Create a new client and connect to the server
client = MongoClient(uri)

In [5]:
collection=client['Intership']['customer_segmentation']

In [11]:
pd.DataFrame(list(collection.find()))

,_id,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,66791581c69a0820ea7c9db0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,66791581c69a0820ea7c9db1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,66791581c69a0820ea7c9db2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,66791581c69a0820ea7c9db3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,66791581c69a0820ea7c9db4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...,...,...
10690,66791581c69a0820ea7cc772,467954,Male,No,29,No,Healthcare,9.0,Low,4.0,Cat_6,B
10691,66791581c69a0820ea7cc773,467958,Female,No,35,Yes,Doctor,1.0,Low,1.0,Cat_6,A
10692,66791581c69a0820ea7cc774,467960,Female,No,53,Yes,Entertainment,NaN,Low,2.0,Cat_6,C
10693,66791581c69a0820ea7cc775,467961,Male,Yes,47,Yes,Executive,1.0,High,5.0,Cat_4,C
10694,66791581c69a0820ea7cc776,467968,Female,No,43,Yes,Healthcare,9.0,Low,3.0,Cat_7,A